<header class="home-header">Full-Stack Web Developer / Software Engineer</header>

<div class="card-container">
  <div class="about-the-author">
    <div class="row">
      <div class="small-12 medium-4 columns">
        <div class="author-image">
          <%= image_tag 'me2.jpg' , class:"solo" %>
        </div>
      </div>
      <div class="small-12 medium-8 columns">
        <h3 class="separator-left">Frank Ruiz</h3>
        <blockquote> I recently graduated from UC Irvine's Full Stack Web Development course. This was an intense three month course that covered a variety of Frontend and Backend languages. After spending years working in Logistics I needed a change in my life.
                        Programming was always a passion of mine but not one I really pursued. Seeing the growth in tech jobs and the field itself rapidly growing and evolving I wanted to be a part of it. So I made the choice to get a certification in Full Stack Web Development.
                        A choice I am so grateful to myself I made. Here is a list of some of the languages I learned:
        </blockquote>
        <table>
                            <tr>
                                <th scope="col"> Front End</th>
                                <th scope="col">Back End</th>
                            </tr>
                            <tr>
                                <td>HTML5</td>
                                <td>Node.js</td>
                            </tr>
                            <tr>
                                <td>CSS3</td>
                                <td>MySQL</td>
                            </tr>
                            <tr>
                                <td>Ruby on Rails</td>
                                <td>Sqlite3</td>
                            </tr>
                        <tr>
                            <td>JavaScript</td>
                            <td>MongoDB</td>
                        </tr>
                        <tr>
                            <td>React.js</td>
                            <td>Mongoose</td>
                        </tr>
                        <tr>
                            <td>Bootstrap</td>
                            <td>Sequelize</td>
                        </tr>

                        </table>
      </div>
    </div>
  </div>
</div>
