<div class="portfolio-resume row">

  <div class="large-4 columns">
    <div class="portfolio-resume-wrapper">
      <%= image_tag 'frank2.jpg', class:'portfolio-resume-headshot' %>
      <h3 class="portfolio-resume-header">Skills</h3>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Ruby on Rails</li>
        <li>JavaScript</li>
        <li>Node.js</li>
        <li>React.js</li>
        <li>MySQL</li>
        <li>Express</li>
      </ul>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="portfolio-resume-wrapper">
      <h3 class="portfolio-resume-header">Experience</h3>
       <div class="portfolio-resume-spacing">
        <h5><strong>Full Stack Web Development</strong></h5>
        <p>In June of 2019 I attended University of California Irvine. I took the Full Stack Web Development coding bootcamp. An intense three month course.</p>
      </div>
      <div class="portfolio-resume-spacing">
        <h5><strong>Aseptic Filling Operator</strong></h5>
        <p>I spent a year at TEVA pharmaceuticals working as an Aseptic Filling Operator.</p>
        <ul>
          <li>Performed equipment changeover across multiple lines</li>
          <li>Sanitization of cleanrooms and equipment</li>
          <li>Operated Machinery in ISO 5 and 7 areas</li>
          <li>Practiced Aseptic techniques on a consistent bases to minimize contamination in the Class 5/6 areas.
        </ul>
      </div>
      <div class="portfolio-resume-spacing">
        <h5><strong>Distribution Coordinator</strong></h5>
        <p>I worked for two years at Amway as a Distribution Coordinator</p>
        <ul>
          <li>Coordinated outbound International/Domestic shipments</li>
          <li>Received incoming International/Domestic shipments</li>
          <li>Replenished stock on the pick lines</li>
          <li>Helped train temporary staff during peak weeks.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="portfolio-resume-wrapper">
      <h3 class="portfolio-resume-header">About Me</h3>
      <p>My commitment to grow as a Web Developer and as a person make me an asset to any team. My
                        experiences
                        with a diverse range of people help me to fit in any situation. Dedication to my craft is
                        priority
                        and the relentless pursuit of mastery</p>
        <%= image_tag 'setup.JPG', class:'setup-pic' %>
      <div class="portfolio-resume-contact-info">
        <a href="mailto:#"><i class="fa fa-envelope" aria-hidden="true"></i>frankruiz49@gmail.com</a>
      </div>
      <div class="portfolio-resume-contact-info">
        <a href="tel:+14083410600"><i class="fa fa-phone" aria-hidden="true"></i></i>714.323.8219</a>
      </div>
    </div>
  </div>
</div>


