// Place all the styles related to the Portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation_and_overrides";
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

$subnav-hero-bg: $primary-color;
$subnav-hero-link-padding: 0.9rem 1rem;
$subnav-hero-font-size: 1rem;
$subnav-hero-link-opacity: 0.15;
$subnav-hero-height: 45vh;
$subnav-hero-transition: all 0.35s ease-in-out;

$portfolio-resume-spacing: 2rem;


* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Special Elite', cursive;
}

.subnav-hero-section {
  text-align: center;
  background: asset-url("girl.jpg");
  background-size: cover;
  background-position: top 60% left 30%;
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $subnav-hero-height;
  box-shadow: 2px 2px 7px black;
  margin-bottom: 10%;

  .subnav-hero-headline {
    color: black;
    font-family: inherit;
    font-size: 4em;
    font-style: oblique;
    letter-spacing: -1px;
  }
}

.subnav-hero-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;

  li {
    float: none;
    display: inline-block;

    a {
      padding: $subnav-hero-link-padding;
      font-size: $subnav-hero-font-size;
      color: $white;
      text-transform: uppercase;
      display: block;
      letter-spacing: 2px;
      transition: $subnav-hero-transition;

      &.is-active {
        background: rgba($white, $subnav-hero-link-opacity);
      }

      &:hover {
        background: rgba($white, $subnav-hero-link-opacity);
      }
    }
  }
}


hr {
  border: 1px solid black;
  box-shadow: 2px 2px 7px black;
}







.portfolio-resume-spacing {
  margin-bottom: $portfolio-resume-spacing;
}

.portfolio-resume-wrapper {
  padding: 2rem 4rem;
}

.portfolio-resume-headshot {
  margin-bottom: 2rem;
  border-radius: 50%;
}

.portfolio-resume-header {
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 1px solid $light-gray;
  font-weight: bold;
  margin-bottom: 1rem;
}

.portfolio-resume-contact-info {
  margin-bottom: 0.75rem;

  a {
    color: $black;
  }

  .fa {
    font-size: 1.4rem;
    padding-right: 0.8rem;
    vertical-align: middle;
    color: $black;
  }
}

.column {
  text-align: center;

  .thumbnail {
    background: slategray;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  }
}

.social-footer {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .social-footer-icons {
    li:last-of-type {
      margin-right: 0;
    }

    .fa {
      font-size: 1.7rem;
      color: $white;

      &:hover {
        color: darken($dark-gray, 25%);
        transition: color 0.3s ease-in;
      }
    }
  }
}

