<footer>
  Copyright &copy; Frank Ruiz
  
<div class="rounded-social-buttons">
  <a class="social-button twitter" href="#"></a>
  <a class="social-button linkedin" href="#"></a>
  <a class="social-button github" href="#"></a>
</div>




</footer>