<header class="subnav-hero-section">
  <ul class="subnav-hero-subnav">
    <li><%= link_to 'Resume', portfolio_resume_path, class:"item" %></li>
    <li><%= link_to 'Projects', portfolio_projects_path, class:"item" %></li>
    <li><%= link_to 'Cerfiticates/Badges', portfolio_certificates_path, class:"item" %></li>
  </ul>
</header>

